.form-markdown {
    display: flex;
}

.form-markdown textarea{
    width: 500px;
    height: 500px;
    margin-right: 15px;
}

.form-markdown .markdown-container {
    border: 1px dashed black;
    width: 500px;
    height: 500px;
}