.multiple-selector {
    display: flex;
}

.multiple-selector ul {
    height: 200px;
    overflow-y: auto;
    list-style-type: none;
    width: 170px;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.multiple-selector ul li {
    cursor: pointer;
    border-bottom: 1px solid #eee;
    padding: 2px 10px;
    font-size: 14px;
}

.multiple-selector ul li:hover {
    background-color: #08c
}

.multiple-selector-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.multiple-selector-buttons button {
    margin: 5px;
}